<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
<h1><i class="fas fa-clipboard-list"></i> <%=locals.title %></h1>
<h2>Welcome <%= locals.name%></h2>
<p><div><button><a href="/users/signout">Sign out</a></button></div></p>
<div class="wrapper">
    <ul>
        <% for(let i of locals.todos){%>
            <div class="item">
                <%= i.todo%>
                
                <a href="/users/deleteTodo/<%=i._id%>"><i class="fas fa-flag-checkered"></i></a>
                <a href="/users/update/<%=i._id%>"><i class="fas fa-edit"></i></a>
                
            </div>
        <%}%>
    </ul>
</div>
<script>
    const dragArea = document.querySelector(".wrapper");
    new Sortable(dragArea, {
      animation: 350
    });
</script>
<div>
    <%if(locals.to_edit==undefined){%>
        <%to_edit=""%>
        <%}else{%>
        <%}%>
    <form action="/users/createTodo" method="POST" id="">
        <textarea name="todo" id="todolist" cols="30" rows="5" placeholder="todo"><%= to_edit%></textarea>
        <!-- <input type="text" name="todo" id=""> -->
        <input type="submit" value="Add">
    </form>
</div>
<script>
    const dragArea = document.querySelector(".wrapper");
    new Sortable(dragArea, {
      animation: 350
    });
</script>